USE [master]
GO
/****** Object:  Database [FootDb]    Script Date: 24.12.2017 19:21:32 ******/
CREATE DATABASE [FootDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FootDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.IKRAMHACKSYSTEM\MSSQL\DATA\FootDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FootDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.IKRAMHACKSYSTEM\MSSQL\DATA\FootDb_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FootDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FootDb]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 24.12.2017 19:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Team1_id] [int] NOT NULL,
	[Team2_id] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Score] [nchar](10) NULL,
	[Name] [ntext] NOT NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MainMenu]    Script Date: 24.12.2017 19:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainMenu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [ntext] NOT NULL,
	[Link] [ntext] NOT NULL,
	[Availabilty] [bit] NOT NULL,
 CONSTRAINT [PK_MainMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Team]    Script Date: 24.12.2017 19:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [ntext] NOT NULL,
	[Goals] [int] NULL,
 CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 24.12.2017 19:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [ntext] NOT NULL,
	[Username] [ntext] NOT NULL,
	[Email] [ntext] NOT NULL,
	[Age] [int] NOT NULL,
	[Sex] [nchar](10) NOT NULL,
	[Password] [ntext] NOT NULL,
	[Wins] [int] NOT NULL,
	[Loses] [int] NOT NULL,
	[Draws] [int] NOT NULL,
	[Goals] [int] NOT NULL,
	[Likes] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAndGamesPivot]    Script Date: 24.12.2017 19:21:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAndGamesPivot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NOT NULL,
	[Game_id] [int] NOT NULL,
	[Team_id] [int] NULL,
	[IsAdmin] [bit] NULL,
 CONSTRAINT [PK_UserAndGamesPivot] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_Team1] FOREIGN KEY([Team1_id])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Team1]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_Team2] FOREIGN KEY([Team2_id])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Team2]
GO
ALTER TABLE [dbo].[UserAndGamesPivot]  WITH CHECK ADD  CONSTRAINT [FK_UserAndGamesPivot_Games] FOREIGN KEY([Game_id])
REFERENCES [dbo].[Games] ([Id])
GO
ALTER TABLE [dbo].[UserAndGamesPivot] CHECK CONSTRAINT [FK_UserAndGamesPivot_Games]
GO
ALTER TABLE [dbo].[UserAndGamesPivot]  WITH CHECK ADD  CONSTRAINT [FK_UserAndGamesPivot_User] FOREIGN KEY([User_id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserAndGamesPivot] CHECK CONSTRAINT [FK_UserAndGamesPivot_User]
GO
USE [master]
GO
